<div id="about">
<h1>About</h1>
<p> Music Mash seemlessly combines the top charts from your favorite music blogs into one beautiful concise list!</p> 
<p>Some say it's TOO easy to use</p>
<ul>
<li>1. Check the boxes next to your favorite blogs</li>
<li>2. Click Search</li>
</ul>
<p>That's it! Then sit back and relax as a list of the top songs from each of these sites appears infront of your eyes. Then it's up to you to take a listen and decide what you think for yourself.</p>
</div>