<div id="faq">
<h1> FAQ </h1>
<h3>Why did I build this project?</h3>
<p>Fair question...This project was built as part of an indendent study my senior year of high school on Ruby. Thanks to the help of Mr. Aronoff I was able to complete my final project.</p>
</div>